
@font-face {
	font-family: "Bebas";
	src: url("../fonts/bebas.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.navbar{
	border:none;
	min-height:78px;
	position:relative;
	margin-bottom: 0;
	z-index: 1;
}
.navbar-nav>li.active>a{
	color:#e8603c;
}
.navbar .navbar-toggle .icon-bar{
	background: #e8603c;
}
.navbar:before{
position: absolute;
	width: 100%;
	top:100%;
	height: 60px;
	background: #f2ae9c;
}

.navbar-brand{
	padding: 0;
	font: 36px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 78px;
	height: 78px;
	text-transform: uppercase;
	color:#e8603c;
	font-weight: 700;
	margin-left:0 !important;
}

.navbar-header a:hover,
.navbar-header a:focus{
	color: #e8603c;

}


.container{
	background: #ffffff;
	z-index: 2;
	position: relative;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Bebas', sans-serif;
	text-transform: uppercase;
	word-spacing: 3px;

}

h3{
	font-size: 20px;
	color:#fff;

}
h6{
	color:#e8603c;
/*	height: 6px;*/
}

.jt-light{
	color:#f2ae9c;
}
.navbar-collapse{
	padding-right:0;

}
.navbar-nav{
	word-spacing: 3px;
}

.navbar-nav>li>a{
	font: 16px "Bebas", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color:#b9b9b9;
}

.navbar-nav>li>a:hover{
	background: none;
	color:#e8603c;
	transition: color .3s ease-in;
}
.navbar-nav>li>a:last-child{
	padding-right:0;
}




.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	line-height: 1;
	width: 100%;
}

.carousel-control.right,
.carousel-control.left{
	background-image:none;
}
.jt-slider .glyphicon{
	text-shadow:none;
	font-size: 52px;
	margin-top:-50px;
}
.jt-slider img{
	max-width:100%;
}

.carousel-caption{
	color:#fff;
	background: rgba(232, 102, 60, 0.8);
	position: absolute;
	left:36px;
	bottom:31px;
	padding: 2px 20px 15px 20px;
	width: 45%;
	text-align: left;
	text-shadow: none;
}

.carousel-caption h2{
	font-size: 18px;

}
.carousel-caption p{
	font-size: 12px;
}

.jt-images{
	margin-top: 17px;
}
.jt-images img:hover{
	transform: scale(1.01);
	transition: transform .2s;
}

.jt-images img{
	width: 100%;
	margin-bottom: 20px;
}
/*Features row*/

.jt-features{
	margin-top:30px;
}
.jt-features h4{
	color:#e8663c;
	margin-left:70px;
	line-height: 1.5;
	width: 60%;
	margin-top: 0;
}

.jt-features p{
	color:#414141;
}
.jt-features .jt-title img{
	float:left;
}
.jt-features .jt-title{
	margin-bottom:38px;

}
.btn{
	color:#fff;
	background: #e8663c;
	border:none;
	margin-top: 22px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family:'Bebas', Arial, sans-serif;
}
.btn:hover{
	background: #FF6A40;
	color:#fff;
	-webkit-transition:color .5s ease;
	-moz-transition:color .5s ease;
	transition:color .5s ease;
}

/*Recent works row*/
.jt-recent-works{
	padding:16px 0 28px 0;
}
.jt-recent-works .jt-line{
	color:#e8663c;

}

.jt-recent-works .jt-line{
	background: url("../img/line1.png");
	background-repeat: repeat-x;
	line-height: 20px;
	height: 20px;
	margin-bottom: 20px;
}

.jt-recent-works .jt-line h4 span {
	background: #ffffff;
	color: #e8663c;
	padding-right: 20px;
	padding-top: 1px;

	line-height: 20px;
	height: 20px;
}

.jt-recent-works img{
	width: 100%;
}
.jt-recent-works .jt-content h5,
.jt-recent-works .jt-content p{
	text-transform: uppercase;
/*	padding:0 15px;*/

}
.jt-recent-works .jt-content h5{
	margin-top: 0;
	margin-bottom: 5px;
	/*padding-top: 10px;*/
}

.jt-recent-works .jt-content a {
	font: 16px "Bebas", Arial, sans-serif;
	color: #b9b9b9;
	margin-top: 0;


}

.jt-recent-works .jt-content p{
	font:11px "Bebas", Arial, sans-serif;
	color:#e8663c;
	margin-bottom: 0;

}
.jt-recent-works .jt-content{
	border-left:1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 20px;
	padding:10px 15px;
}


/*Footer row*/
.jt-footer .container{
	background: #e8663c;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	padding: 10px 35px;

}
.jt-footer{
	background: #f2ae9c;

}
footer h3{
	margin-bottom: 28px;

}
footer p{
	color:#fff;
	font-size: 12px;
	margin-bottom: 22px;

}

.jt-footer span{
	color:#f09f85;
}
.jt-footer a{
	color:#f09f85;
}
.jt-footer a:hover{
	color:#fff;
	text-decoration:none;
}
.jt-footer .jt-about{
	padding-right:60px;

}

.jt-footer .jt-twitter{
	padding-right: 30px;
}

.jt-social-icons i{
	display: inline-block;
	height: 31px;
	width: 30px;
}
.facebook, .email, .rss, .vimeo, .twitter{
	background: url('../img/sprites.png') no-repeat;

}
.facebook{
	background-position: 0 0;

}
.twitter{
	background-position: -150.96875px 0;

}
.email{
	background-position: -50.951690673828125px 0;

}

.rss{
	background-position: -200.9801025390625px 0;

}

.vimeo{
	background-position: -100.960205078125px 0;

}






/*--------------------------ABOUT US*/
.jt-title .container{
	background-color: #e8603c;
	height: 60px;
	line-height: 60px;
	border-left:10px solid #fff;
	border-right:10px solid #fff;

}
.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before{
	color: #fff;
}
.jt-about-content{
	margin-top:20px;
}
.jt-blog-content p,
.jt-contacts-content p,
.jt-about-content p {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 30px;
}

.jt-contacts-content .jt-about-img,
.jt-about-content .jt-about-img{
	float:left;
	border: 3px solid #ffffff;
	outline: 1px solid #ccc;
	margin: 0 24px 10px 0;

}
.jt-blog-content .jt-line,
.jt-contacts-content .jt-line,
.jt-about-content .jt-line{
	background: url("../img/line1.png");
	background-repeat: repeat-x;
	line-height: 20px;
	height: 20px;
	margin-bottom: 20px;
}
.jt-blog-content .jt-line a,
.jt-contacts-content .jt-line a,
.jt-about-content .jt-line a{
	text-decoration: none;
}

.jt-blog-content h2,
.jt-contacts-content h2,
.jt-about-content h2{
	font-size: 14px;
	margin-top:0;
	margin-bottom:20px;


}
.jt-blog-content .jt-line h2 span,
.jt-contacts-content .jt-line h2 span,
.jt-about-content .jt-line h2 span{
	background: #ffffff;
	color: #e8663c;
	padding-right: 10px;
	padding-top: 1px;
	line-height:  20px;
	height: 20px;
}

.jt-blog-content ul,
.jt-contacts-content ul,
.jt-about-content ul{
	list-style: none;
	text-align: left;
	padding: 0;
	margin-bottom: 40px;
	line-height: 1.2;

}

.jt-about-side ul a{
	text-decoration: none;
	color:#464646;
}
.jt-about-side ul a:hover{
	text-decoration: underline;
	color:#464646;
}
.jt-letter::first-letter{
	float:left;
	color:#e8603c;
	font-size: 36px;
	margin: 10px 5px 5px 0;
	font-family: "Helvetica Neue", Arial, sans-serif;
}
blockquote{
	padding: 0 20px;
	margin: 4px 0 34px 50px;
	font-size: 12px;
	border-left: 5px solid #e8603c;
	font-style:italic;
}
.alert{
	border-radius: 0;
	border: 1px solid;
	text-align: center;
	font-style: italic;
}
.alert-green{
	background: #effeb9;
	border-color: #98c601;
	color:#98c601;
}
.alert-red{
	background: #fbcbc1;
	border-color: #eb5439;
	color:#eb5439;
}
.alert-orange{
	background: #ffe9ad;
	border-color: #fab418;
	color:#fab418;
}
.alert-blue{
	background: #d1e4f3;
	border-color: #4d8fcb;
	color: #4d8fcb;
}

.jt-about-side img{
	width: 100%;
	margin: 5px 0 5px 0;


}
.jt-about-side .col-sm-3.col-xs-3{
	padding-right: 5px;
	padding-left: 5px;
}

.jt-about-side .row {
	margin-left: -5px;
	margin-right: -5px;
}

/*-------------Blog Page*/


.jt-blog-content{
	padding-top:24px;
	padding-bottom: 42px;
}


.jt-about-content .col-md-9,
.jt-blog-content .col-md-9{
	padding-right: 30px;
}

.jt-about-side{
	padding-left:30px;
}

.jt-blog-content .jt-slider .glyphicon{
	top:57%;

}
.jt-blog-content a{
	text-decoration: none;
}
.jt-blog-content .jt-link h4>a{
	font-size: 18px;
	margin-bottom:2px;
}
.jt-blog-content .jt-slider,
.jt-post img,
.jt-video-content{
	margin-bottom:25px;
}
.jt-blog-content .jt-link h4>a,
.jt-blog-content a{
	color:#e8603c;
}

.jt-blog-content .jt-link h4>a:hover,
.jt-blog-content a:hover{
	color: rgba(232, 96, 60, 0.73);
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
	transition: color .2s;
}
.jt-date-tags p{
	padding:5px 0;
	color:#c8c8c8;

}
.jt-date-tags h6{
	margin-bottom: 0;

}
.jt-blog-content article{
	margin-bottom: 56px;
}
.jt-post img{
	width:100%;
}
.jt-blog-content  .jt-video {
	margin-bottom: 46px;
}
article .jt-line{
	margin-top:15px;
}
.jt-quote-block{
	background: #f3f3f3;
	padding:20px 20px 22px 34px;
	font-style: italic;
	margin-bottom: 54px;


}
.jt-quote-block p{
	padding-bottom: 0;
}
.jt-quote-block span{
	float: left;
	font-family: Georgia, serif;
	color: #E45E3B;/*#e8613e;*/
	font-size: 72px;
	font-style: italic;
	margin-right: 16px;
	padding-top:20px;


}

.jt-link a{
	color:#a0a0a0;
	font-size: 12px;
	display: block;
	margin-bottom:17px;

}

.jt-link a:hover{
	color:#414141;
	text-decoration: none;
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
	transition: color .2s;
}
.jt-blog-content .jt-link{
	margin-bottom: 44px;
}
.jt-blog-content .pagination{
	 margin: 0;
}
.pagination li a{
	margin-right: 4px;
	background: #f3b29d;
	color:#fff;
	font:14px "Bebas", Arial, sans-serif;
	border:none;

}
.pagination li a:hover{
	background: #e8663c;
	text-decoration: none;
	color:#fff;
	-moz-transition: background .2s;
	-webkit-transition: background .2s;
	transition: background .2s;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>li>a:focus{
	background-color:#e8663c;

}

.jt-link,
.jt-quote,
.jt-video,
.jt-post,
.jt-slider-block{
	position: relative;
}
.jt-slider-block:before,
.jt-post:before,
.jt-video:before,
.jt-quote:before,
.jt-link:before{
	position: absolute;
	content:'';
	width: 75px;
	height: 75px;
	left:-85px;
}
.jt-slider-block:before{
	background-image: url('../img/blog-icon.jpg');
}
.jt-post:before{
	background-image: url('../img/blog-icon2.jpg');
}
.jt-video:before{
	background-image: url('../img/blog-icon3.jpg');
}
.jt-quote:before{
	background-image: url('../img/blog-icon4.jpg');
}
.jt-link:before{
	background-image: url('../img/blog-icon5.jpg');
}
/*-------------PORTFOLIO Page*/
.nav-pills{
	margin:19px 0 35px 0;
}
.jt-portfolio-content .nav-pills>li.active>a{
	background: #e8663c;
	color:#fff;

}

.jt-portfolio-content .nav>li>a:hover,
.jt-portfolio-content .nav-pills>li.active>a:hover{
	color:#fff;
	background: #e8663c;
	-moz-transition: background .3s, color .3s;
	-webkit-transition: background .3s, color .3s;
	transition: background .3s, color .3s;
}
.jt-portfolio-content .nav>li>a{
	color:#b9b9b9;
	font:14px "Bebas", Arial, sans-serif;
	text-transform:uppercase;
	padding: 10px;
}

.jt-relative{
	position:relative;
}
.jt-portfolio-content .overlay{
	background-color: rgba(21, 21, 21, 0.8);
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: color .5s, background-color .5s, opacity .5s;
}
.jt-portfolio-content .overlay:hover{
	opacity: 1;
}
.jt-portfolio-content .glyphicon{
	position: absolute;
	top:42%;
	left:42%;
	color:rgba(21, 21, 21, 0.8);
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.59);
	padding:3px 3px 3px 5px;
}

/*-------------PORTFOLIO ITEM*/
.jt-port-item-content{
	padding: 25px 0;
}
.jt-port-item-content img{
	width: 100%;
	margin-bottom: 25px;
}
.jt-port-item-content p{
	font-size: 12px;
}







/*----------------------CONTACTS*/
.jt-contacts-content{
	padding-top: 25px;
	padding-bottom: 37px;
}
.jt-contacts-content .row{
	margin-left: 0;
	 margin-right: 0;
}

.jt-contacts-content .col-md-9,
.jt-contacts-content .col-md-4{
	padding-left: 0;
}

.jt-contacts-content .jt-about-side{
	padding-right: 0;
}

.jt-form {
	padding-bottom:15px;
	margin-top:35px;
}
.jt-form a{
	text-decoration: none;
	color: #333;
}
.jt-form span{
	color:#ea6b49;
	font-weight: 700;
}
.form-control {
	border: 1px solid #e8603c;
	color: #e8603c;
	padding: 10px;
	font: 12px "Bebas", Arial, Helvetica, sans-serif;
	line-height: 2.3;
	margin-bottom: 10px;
	word-spacing: 3px;
	/*letter-spacing: 1px;*/
}
input[type="text"]::-webkit-input-placeholder {
	color: #ea6b49;
}
input[type="text"]:-moz-placeholder {
	color: #ea6b49;
}
input[type="email"]::-webkit-input-placeholder {
	color: #ea6b49;
}
input[type="email"]:-moz-placeholder {
	color: #ea6b49;
}
textarea::-webkit-input-placeholder {
	color: #ea6b49 !important;
}
textarea:-moz-placeholder {
	color: #ea6b49 !important;
}
.jt-contacts-content .btn{
	margin-top: 0;
}





/*-----------------------------------media*/
@media(max-width:699px){

	.carousel-caption{
		display:none;

	}
	.jt-slider .glyphicon{
		font-size: 30px;
		margin-top:auto;
	}
}

/*-----------------------------------media*/
@media(max-width:915px){
	.jt-slider-block:before,
	.jt-post:before,
	.jt-video:before,
	.jt-quote:before,
	.jt-link:before{
		display:none;

	}

}
@media(max-width:768px){
	.navbar-collapse{
		padding-right:10px;

	}
}



@media(max-width:989px){
	.jt-about-content .col-md-9,
	.jt-contacts-content .col-md-9,
	.jt-blog-content .col-md-9{
		padding-right: 10px;
	}
	.jt-about-side{
		padding-left:10px;
		margin-top:20px;
	}
	.jt-recent-works .jt-content a {
		font-size: 12px;
	}

	.jt-about-side .col-sm-3.col-xs-3{
		padding-right:10px;
		padding-left:10px;

	}
	.jt-about-side .row {
		margin-left: -10px;
		margin-right: -10px;
	}

}

